:root {
  --main-color: #f41f51;
  --purpule-color: #0f051d;
  --section-color: #1c1d21;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--section-color);
  border: 1px solid #fff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}
